div {
      background-image: linear-gradient(to top, #5f72bd 0%, #9b23ea 100%);;
      width: 500px;
      height: 500px;
      text-align: center;
      margin: auto;
}

.pixelify-sans-<body> {
      font-family: "Pixelify Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: <weight>;
      font-style: normal;
    }

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "Pacifico", cursive;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 34px;
    font-weight: normal;
    color: white;
    letter-spacing: 3px;
    word-spacing: 2px;
}

h2 {
    font-family: "Pixelify Sans", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 24px;
    color: white;
    letter-spacing: 2px;
}

h3 {
    font-family: "Pixelify Sans", sans-serif;
    margin: 0;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 18px;
    font-weight: normal;
    color: white;
}

h4 {
    font-family: "Pacifico", cursive;
    margin: 0;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 18px;
    font-weight: normal;
    color: white;
    letter-spacing: 2px;
    word-spacing: 2px;
}

p {
    font-family: "Pixelify Sans", sans-serif;
    text-align: center;
}

img {
 
    width: 230px;
    height: 230px;
    margin-bottom: 50px;
}
